body{
    background-color: lightsteelblue;
}
.navbar
{
    background: linear-gradient(steelblue, lightsteelblue);
    border:none;
    border-radius:0px;
    padding:15px 15px 0px 15px;
}
.navbar-inverse .navbar-brand {
    font-weight: bold;
    font-size: 32px;
    color: white;
}
.navbar-inverse .navbar-toggle:hover {
    background-color: #4D8FBD;
}
.navbar-inverse .navbar-toggle:focus  {
    background-color: #4D8FBD;
}
.navbar-inverse .navbar-nav>li>a {
    font-family:bold;
    color:white;
}
.navbar-inverse .navbar-nav>li>a:hover {
    background-color:white;
    color:black;
}

h2{
    border:none;
    font-weight: bolder;
    font-style: italic;
    text-shadow: 3px 3px 3px lightgray ;
}
.container{
    background-color: blanchedalmond;
    margin: -20px auto;
}
hr,li{
    color:white;
}
.row
{
    margin:30px;
    padding:2%;
}
.container .row:nth-child(2)
{
    background-color: lightseagreen;
}
.container .row:nth-child(3)
{
    background-color: lightpink;
}
.container .row:nth-child(4)
{
    background-color: lightgreen;
}
a:hover
{
    background-color: white;
    color:black;
    font-weight:bold;
}
h4
{
    background-color:white;
    text-align: center;
    padding:2%;
    width:15%;
    margin-bottom:2%;
    font-weight: bold;
}

@media (max-width:768px)
{
    h4{
        width: 25%;
        margin-bottom:10px;
    }
}